html {

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.section-1 {
    width: 100%;
    background-image: url(about.img/main.png);
    height: 760px;
    background-size: contain;
    background-repeat: no-repeat;
}


.logo-img {
    margin-top: 46px;
    margin-left: 118px;
}



.button-navi {
    position: absolute;
    left: 470px;
    top: 68px;
}

.head-number {
    font-family: 'Inter';
    font-size: 26px;
    color: #FFFFFF;
    margin-left: 0px;
    margin-top: 90px;
    position: absolute;
    left: 740px;
    float: right;
}

.reserv {
    font-family: 'Rufina';
    font-size: 32px;
    color: #FFFFFF;
    position: absolute;
    right: 100px;
    top: 60px;
    border: 2px solid #FFFFFF;
    width: 285px;
    height: 88px;
    background: none;
}

.main-text {
    width: 700px;
    height: 200px;
    position: absolute;
    right: 100px;
    margin-top: 220px;
}

h1 {
    font-family: 'Rufina';
    font-size: 110px;
    color: #FFFFFF;
    margin-top: -100px;
    width: 800px;
}

.under-text {
    color: #FFFFFF;
    font-family: 'Rufina';
    margin-left: 30px;
    margin-top: -60px;
    font-size: 20px;
    width: 400px;
    font-weight: normal;

}





.section-2 {
    height: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 4;
}

.h2-s2 {
    font-family: 'Rufina';
    font-size: 50px;
    text-align: left;
    width: 400px;
    margin-left: 100px;
    margin-top: 400px;
}

.p-s2 {
    font-family: 'Inter';
    font-size: 18px;
    color: rgb(71, 71, 71);
    text-align: left;
    width: 550px;
    position: absolute;
    left: 100px;
    margin-top: 500px;

}

.s2-img {
    position: absolute;
    width: 500px;
    height: 400px;
    right: 100px;
    margin-top: 230px;
    z-index: 0;
}

.tomato {
    width: 300px;
    height: 300px;
    z-index: 4;
    margin-top: 90px;
}


.section-3 {
    height: 1500px;
    width: 100%;
    border: 2px solid #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}



.manager {
    height: 730px;
    width: 450px;
    margin-top: 150px;
    margin-left: 120px;
    text-align: center;
}

.chef {
    height: 730px;
    width: 450px;
    margin-top: 600px;
    margin-left: 240px;
    text-align: center;

}

.img-chef {
    width: 450px;
    height: 550px;
    margin-top: 0px;
}

.img-manager {
    width: 450px;
    height: 550px;
    margin-top: 0px;

}

.s3-h5 {
    position: absolute;
    width: 540px;
    right: 150px;
    margin-top: 325px;
    font-size: 24px;
    color: #4D4D4D;
    font-family: 'Inter';
    font-weight: normal;
}

.s3-h6 {
    position: relative;
    width: 540px;
    top: -300px;
    left: 200px;
    font-size: 24px;
    color: #4D4D4D;
    font-family: 'Inter';
    font-weight: normal;
    text-align: right;
}

.h2-manager {
    font-size: 45px;
    font-family: 'Rufina';

}

.h2-chef {
    font-size: 45px;
    font-family: 'Rufina';

}

.h3-manager {
    font-size: 22px;
    font-family: 'Inter';
}


.h3-chef {
    font-size: 22px;
    font-family: 'Inter';
}


.section-4 {
    height: 580px;
    width: 100%;
    background-image: url(about.img/delicious.png);
    background-size: contain;
    border: 2px solid #FFFFFF;

    background-repeat: no-repeat;
}

.s4-img {
    height: 570px;
    width: 100%;
}

.play {
    position: absolute;
    left: 610px;
    margin-top: 340px;
    width: 120px;
    height: 120px;
}

.s4-h2 {
    position: absolute;
    color: #FFFFFF;
    font-size: 90px;
    font-family: 'Rufina';
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 150px;
}

.s4-p {
    position: absolute;
    font-size: 22px;
    font-family: 'Inter';
    color: #FFFFFF;
    width: 60%;
    left: 30%;
    margin-top: 270px;
}






.section-5 {
    width: 100%;
    height: 2002px;
    background-image: url(about.img/rosemary1.png);
    background-repeat: no-repeat;
    background-position-x: 930px;
    background-position-y: top;
    border: 2px solid #FFFFFF;


}

.h1 {
    color: black;
    font-size: 70px;
    width: 60%;
    position: relative;
    top: 400px;
    left: 20%;

}

.meat1 {
    width: 500px;
    height: 400px;
    position: relative;
    top: 450px;
    left: -240px;
}

.meat2 {
    width: 500px;
    height: 400px;
    position: relative;
    top: 190px;
    left: 800px;
}


.meat3 {
    width: 500px;
    height: 400px;
    margin-left: 150px;
    margin-top: -200px;

}

.meat1-h2 {
    font-size: 50px;
    font-family: 'Rufina';
    margin-left: 650px;
    margin-top: 130px;
}

.meat1-p {
    width: 500px;
    color: #4D4D4D;
    font-family: 'Inter';
    font-size: 20px;
    margin-left: 650px;
    margin-top: -10px;

}

.s4-2 {
    position: relative;
    top: -220px;
    left: -500px;
    width: 500px;
}

.s4-3 {
    position: relative;
    top: -400px;
    width: 500px;
    left: 230px;
}

.meat-p3 {
    width: 380px;
}

.rosmary {
    position: relative;
    top: 1550px;
    left: 0px;
}



.section-6 {
    width: 100%;
    background-color: #EBF0E4;
    height: 800px;
}


.main-s6 {
    width: 60%;
    margin-left: 20%;
    margin-top: -50px;
    text-align: center;
}

.s6-h2 {
    font-family: 'Rufina';
    font-size: 60px;
    color: black;
    margin-bottom: -20px;
    padding-top: 150px;
}

.s6-p {
    font-family: 'Inter';
    font-size: 20px;
    color: gray;

}


.select {
    width: 310px;
    height: 50px;
    background-color: #EBF0E4;
    margin-left: 42px;
    color: black;
    border: 1.5px solid #233000;
    color: #233000;
    padding-left: 20px;
    padding-right: 200px;
    font-family: 'Inter';
    font-size: 14px;
}


.buttons-s6 {
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
}

option {
    margin-right: 30px;
}

.book-now {
    background-color: #233000;
    color: #FFFFFF;
    width: 20%;
    margin-left: 40%;
    margin-top: 110px;
    height: 70px;
    font-size: 30px;
    font-family: 'Rufina';
}



footer {
    width: 100%;
    height: 550px;
    background-color: #233000;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}


.form {
    height: 100px;
    width: 500px;
    position: absolute;
    right: 100px;
    margin-top: 235px;
}

.input-footer {
    width: 300px;
    height: 50px;
    background-color: #233000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 17px;
}

::placeholder {
    color: #FFFFFF;
    padding-left: 30px;
}

.form-p {
    font-family: 'Inter';
    font-size: 14px;
}

.submit {
    background-color: #5E6600;
    width: 150px;
    height: 54px;
    border: none;
    color: #FFFFFF;
    font-family: 'Rufina';
    font-size: 22px;
    margin-left: 28px;
}

.footer-line {
    height: 2px;
    margin-top: 40px;
}

.contact {
    width: 220px;
    position: relative;
    left: 100px;
    height: 250px;
    margin-top: 95px;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: normal;
}

.contact-h3 {
    font-family: 'Rufina';
    font-size: 32px;
    margin-bottom: 60px;
}

.contact-p {
    margin-top: 30px;
}

.footer-h2 {
    font-family: 'Rufina';
    font-size: 60px;
    color: #FFFFFF;
    width: 200px;
    height: 150px;
    margin-top: 150px;
    margin-left: 130px;
}

.footer-h4 {
    margin-left: 200px;
    margin-top: 130px;
    height: 40px;
}

.under {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: normal;
    margin-left: 138px;

}

.under-img {
    position: absolute;
    right: 162px;
    margin-top: -45px;
}


.book-now:hover {
    opacity: 0.8;
    transition-duration: 0.6s;
}

.select:hover {
    opacity: 0.8;
    transition-duration: 0.6s;
}








                                     
                                     #newMenuAbout {
                                         z-index: 9;
                                         width: 100%;
                                         height: 1080px;
                                         position: absolute;
                                         top: 0;
                                         color: #FFFFFF;
                                         font-size: 60px;
                                         font-family: 'Rufina';
                                         display: none;
                                         background-image: url(jsmenuimg.png);
                                     
                                     }

.newimg {

    height: 1080px;


}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.span-menu1 {
    margin-left: 190px;
    position: absolute;
    top: 0px;
    z-index: 11;
    padding-top: 90px;
}

.span-menu2 {
    margin-left: 190px;
    position: absolute;
    top: 150px;
    z-index: 11;
    padding-top: 90px;
    color: rgba(255, 255, 0, 0.63);
}

.span-menu3 {
    margin-left: 190px;
    position: absolute;
    top: 300px;
    z-index: 11;
    color: #FFFFFF;

    padding-top: 90px;
}

.span-menu4 {
    margin-left: 190px;
    color: #FFFFFF;
    position: absolute;
    top: 450px;
    z-index: 11;
    padding-top: 90px;
}

.span-menu5 {
    margin-left: 190px;
    color: #FFFFFF;
    position: absolute;
    top: 600px;
    z-index: 11;
    padding-top: 90px;
}


.contact-2 {
    position: relative;
    top: -700px;
    left: 900px;
    font-size: 25px;
    z-index: 11;
    width: 270px;
}

.p-new {
    margin-top: -60px;
}

.close-new {
    margin-left: 30px;
    margin-top: 150px;
    background: none;
    opacity: 1;
    position: absolute;
}

.close-new:hover {
    background: #222e0159;
    opacity: 0.5;
    transition-duration: 0.6s;
}

.span-menu:hover {
    opacity: 0.4;
}





                               
                               
                               
                               #openLogoAbout {
                                   background-image: url(Imagelogo.png);
                                   background-repeat: no-repeat;
                                   background-size: cover;
                                   width: 100%;
                                   z-index: 9;
                                   width: 100%;
                                   height: 900px;
                                   top: 0;
                                   position: absolute;
                                   color: #FFFFFF;
                                   display: none;
                               }
                               
.img-logo {
    margin-top: -180px;
}

.new-logo {
    position: absolute;
    top: 0px;
    z-index: 10;
}

.new-number {
    position: absolute;
    top: 0px;
    left: 700px;
}

.coming {
    position: absolute;
    top: 200px;
    left: 390px;
    font-size: 80px;
    color: #FFFFFF;
    font-family: 'Rufina';
}


.blockings {
    position: absolute;
    top: 460px;
    left: 240px;
    display: flex;
    flex-wrap: wrap;

}

.blocking {
    width: 100px;
    height: 140px;
    /* border: 1px solid ghostwhite; */
    margin-left: 60px;
}

.number-b {
    font-size: 80px;
    color: #FFFFFF;
    font-family: 'Rufina';
    margin-top: 0;
    text-align: center;

}

.means {
    text-align: center;

    font-family: 'Inter';
    font-size: 24px;
    font-weight: normal;
    margin-top: -60px;
}

.new-line-logo {
    color: #FFFFFF;
    opacity: 1.4;
    font-weight: bold;
    position: absolute;
    top: 430px;
    left: 250px;
}


.new-button {
    width: 200px;
    height: 60px;
    background: none;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Inter';
    position: absolute;
    top: 700px;
    left: 580px;
}

.new-button:hover {
    opacity: 0.6;
    transition-duration: 0.7s;
}